:root {
  --main-bg-color: #282c34;
  --main-header-footer-color: #1f2229;
}

html {
  background-color: var(--main-bg-color);
  color: white;
}

.header {
  background-color: var(--main-header-footer-color);
  padding: 0.5rem 1rem 0 1rem;
}

.title {
  font-size: 2rem;
  color: white;
}

.signin {
  text-align: right;
}
