:root {
  --main-bg-color: #282c34;
  --main-header-footer-color: #1f2229;
}

html {
  background-color: var(--main-bg-color);
  color: white;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

a {
  color: white;
  font-style: none;
}

.header {
  background-color: var(--main-header-footer-color);
  transition: background-color 550ms;
  padding: 0.5rem 1rem 0 1rem;
  padding-bottom: 1rem;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.header nav {
  text-align: center;
}

.transparent {
  transition: background-color 350ms;
  background-color: transparent;
}

.title {
  font-size: 2rem;
  color: white;
  min-width: fit-content;
}

.hover {
  padding: 0.5rem;
}

.hover:hover {
  background-color: rgba(255, 255, 255, 0.164);
  border-radius: 1rem;
}

.navs {
  display: inline-block;
  padding: 0 2rem 0 2rem;
  font-size: 2rem;
}

.navs a {
  padding: 0.5rem;
}

.tab-active {
  background-color: rgb(65, 65, 97);
  border-radius: 20%;
}

.signin {
  text-align: right;
}

.content {
  height: 100vh;
  padding: 5rem;
  text-align: center;
}

.footer {
  text-align: center;
  color: white;
  background-color: var(--main-header-footer-color);
}

.source-code {
  color: antiquewhite;
}
.source-code:hover {
  color: rgb(241, 174, 86);
}

@media screen and (max-width: 1300px) {
  .content {
    padding-top: 10rem;
  }
}

@media screen and (max-width: 650px) {
  .content {
    padding-top: 10rem;
  }
  .navs {
    font-size: 1rem;
  }
}
